@model Amantran.Models.InvitedBy

@{
    ViewData["Title"] = "Invited By Form";
}

<h2>Invited By Form</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        Please correct the errors and try again.
    </div>
}

@using (Html.BeginForm("Create", "InvitedBy", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal invited-by-form">
        <h4>Invited By Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row form-row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.InvitedByName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.InvitedByName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InvitedByName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Relation, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Relation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Relation, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Default, htmlAttributes: new { @class = "control-label" })
                    @Html.CheckBoxFor(model => model.Default)
                    @Html.ValidationMessageFor(model => model.Default, "", new { @class = "text-danger" })
                </div>
            </div>
            @* <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.FunctionId, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FunctionId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FunctionId, "", new { @class = "text-danger" })
                </div>
            </div> *@
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
}
